.fltr {
    filter: brightness(0.5);
}

.primary-color {
    background: #289BDE;

}

@media only screen and (max-width:576px) {
    .content-flex {
        flex-direction: column;
    }

    .t-center {
        text-align: center;
    }

    .display-fix {
        display: none;
    }


}

@media only screen and (min-width: 577px) and (max-width: 991px) {
    .display-fix {
        display: none;
    }
}

/*mobile device ar responsive korer jonno html 130 number line a  flex-sm-column dile kaj hochhe na. aktu kindly janaben. abr,smll device a company section d-sm-none class tao kaj kore na display none korer jonno. kindly janaben kno hocche na */